@use './variables';

.hero {
    padding-top: 60px;
    padding-bottom: 100px;
    background-image: url(../images/aniversario-background.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    .container {
        position: relative;
    }

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: variables.$secondaryTextColor;
        opacity: .6;
    }

    &__text {
        padding-top: 60px;
        padding-bottom: 60px;
        font-size: 45px;
        line-height: 58px;
        font-weight: 800;
        text-align: center;
    }

    &__logo {
        display: block;
        margin: 0 auto;
        height: 200px;
        width: 250px;
    }

    @media (max-width: 640px) {
        padding: 35px 0;

        &__logo {
            height: 100px;
            width: 150px;
        }

        &__text {
            font-size: 16px;
            line-height: 16px;
            margin: 24px 0;
        }
    }
}